In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
# reading useful datasets into dataframes
investments=pd.read_csv(r'C:\Users\m_joekid\Desktop\Startup Success\investments.csv')
funds=pd.read_csv(r'C:\Users\m_joekid\Desktop\Startup Success\funds.csv')
funding_round=pd.read_csv(r'C:\Users\m_joekid\Desktop\Startup Success\funding_rounds.csv')

## Basic EDA

In [5]:
pd.set_option('display.max_columns',None) # collapses all hidden columns

In [6]:
investments.sample(3)

,id,funding_round_id,funded_object_id,investor_object_id,created_at,updated_at
59287,59288,53289,c:24287,f:277,2013-10-31 05:21:14,2013-11-04 02:57:08
14614,14615,9741,c:36432,f:2257,2009-11-25 12:32:04,2009-11-25 12:32:04
61353,61354,57751,c:164452,f:5584,2013-12-11 13:53:50,2013-12-11 13:53:50

In [7]:
funds.sample(3)

,id,fund_id,object_id,name,funded_at,raised_amount,raised_currency_code,source_url,source_description,created_at,updated_at
24,27,27,f:137,Battery Fund,2007-07-06,750000000.0,USD,http://venturebeat.com/2007/07/06/svb-capital-...,SVB Capital and Battery raise latest VC funds ...,2009-01-21 03:45:49,2013-10-01 18:53:10
529,582,582,f:2130,Poste Innovation 7,2004-01-01,15000000.0,EUR,http://www.evca.eu/toolbox/membersearch.aspx?i...,EVCA,2011-10-27 13:18:31,2012-12-30 04:37:29
1469,1603,1603,f:14564,Targeted Technology Fund II,2013-11-08,20000000.0,USD,NaN,StrictlyVC Funding Source,2013-11-09 11:34:52,2013-11-09 11:34:52

In [8]:
funding_round.sample(3)

,id,funding_round_id,object_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,pre_money_valuation_usd,pre_money_valuation,pre_money_currency_code,post_money_valuation_usd,post_money_valuation,post_money_currency_code,participants,is_first_round,is_last_round,source_url,source_description,created_by,created_at,updated_at
36153,39570,39570,c:141608,2013-06-07,series-b,b,11500000.0,11500000.0,USD,0.0,0.0,USD,0.0,0.0,USD,10,1,0,http://www.finsmes.com/2013/06/avaxia-biologic...,Avaxia Biologics Completes $11.4M Series B Fin...,arun,2013-06-08 03:12:11,2013-06-08 03:12:11
24268,26399,26399,c:22301,2011-11-07,other,grant,250000.0,250000.0,USD,0.0,0.0,NaN,0.0,0.0,NaN,1,1,0,http://techcrunch.com/2011/11/07/startup-weeke...,"Startup Weekend EDU Receives $250,000 Grant Fr...",arun,2011-11-08 02:55:21,2011-11-08 02:55:21
33286,36417,36417,c:191069,2013-05-20,angel,seed,800000.0,800000.0,USD,0.0,0.0,USD,0.0,0.0,USD,6,0,0,http://www.adweek.com/news/technology/pinteres...,Pinterest Network Helps Brands Pin More Conten...,mlwohls,2013-03-22 12:49:30,2013-06-13 11:08:08

## Merging investement and funding round as main dataset

In [9]:
inv_funrnd=pd.merge(investments,funding_round,on='funding_round_id')

## INV_FUNRD EDA

In [10]:
inv_funrnd.sample(3) # get a glimpse into the new dataset

,id_x,funding_round_id,funded_object_id,investor_object_id,created_at_x,updated_at_x,id_y,object_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,pre_money_valuation_usd,pre_money_valuation,pre_money_currency_code,post_money_valuation_usd,post_money_valuation,post_money_currency_code,participants,is_first_round,is_last_round,source_url,source_description,created_by,created_at_y,updated_at_y
951,805,494,c:601,f:257,2007-08-24 13:11:33,2008-05-10 16:32:32,494,c:601,1999-05-01,series-a,a,2000000.0,2000000.0,USD,0.0,0.0,NaN,0.0,0.0,NaN,2,0,1,http://www.opentable.com/info/newspage.aspx?id=13,NaN,initial-importer,2007-08-24 13:11:33,2008-05-10 16:32:32
18087,16059,11084,c:39561,f:1589,2010-01-12 04:55:24,2013-06-24 19:17:08,11084,c:39561,2010-01-08,venture,unattributed,5859444.0,5859444.0,USD,0.0,0.0,USD,0.0,0.0,USD,1,0,1,http://www.greentechmedia.com/articles/read/do...,"Dow Invests in CIGS Start-Up Nuvosun, SEC",arun,2010-01-12 04:55:24,2013-06-24 19:17:08
34627,31193,20280,c:39799,f:3387,2010-11-30 03:02:10,2013-07-15 12:27:37,20280,c:39799,2010-11-30,venture,unattributed,410000000.0,410000000.0,USD,0.0,0.0,USD,0.0,0.0,USD,3,0,0,http://spacenews.com/satellite_telecom/101129-...,"With $1.2B in Financing, O3b Constellation Clo...",arun,2010-11-30 03:02:10,2013-07-15 12:27:37

In [11]:
inv_funrnd.describe().T

,count,mean,std,min,25%,50%,75%,max
id_x,80902.0,4.045150e+04,2.335454e+04,1.0,20226.25,40451.5,60676.75,8.090200e+04
funding_round_id,80902.0,2.402017e+04,1.516303e+04,1.0,11747.25,22594.5,34794.00,5.794800e+04
id_y,80902.0,2.402017e+04,1.516303e+04,1.0,11747.25,22594.5,34794.00,5.794800e+04
raised_amount_usd,80902.0,1.161108e+07,4.128060e+07,0.0,1000000.00,4480000.0,12500000.00,3.200000e+09
raised_amount,80902.0,1.188521e+07,4.949011e+07,0.0,1000000.00,4300000.0,12200000.00,3.200000e+09
pre_money_valuation_usd,80902.0,2.670972e+05,5.299019e+07,0.0,0.00,0.0,0.00,1.500000e+10
pre_money_valuation,80902.0,2.670972e+05,5.299019e+07,0.0,0.00,0.0,0.00,1.500000e+10
post_money_valuation_usd,80902.0,1.905719e+06,5.690148e+07,0.0,0.00,0.0,0.00,4.000000e+09
post_money_valuation,80902.0,1.940594e+06,5.708151e+07,0.0,0.00,0.0,0.00,4.000000e+09
participants,80902.0,4.305295e+00,3.664336e+00,1.0,2.00,3.0,5.00,3.600000e+01
is_first_round,80902.0,5.515933e-01,4.973341e-01,0.0,0.00,1.0,1.00,1.000000e+00
is_last_round,80902.0,5.329658e-01,4.989152e-01,0.0,0.00,1.0,1.00,1.000000e+00